@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-family: 'Lexend Deca', sans-serif; */
}
.container {
  background-color: hsl(233, 47%, 7%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.union-card {
  overflow: hidden;
  height: 350px;
  width: 1020px;
  display: grid;
  background-color: hsl(244, 38%, 16%);
  grid-template-columns: 1fr 1fr;
  border-radius: 7px;
}
.card-left {
  color: white;
  width: 350px;
  margin: 50px 0 0 50px;
  height: 300px;
}
.card-left h1 span {
  color: hsl(277, 64%, 61%);
}
.card-left p {
  margin-top: 20px;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.stats h1 {
  font-size: 22px;
}
.stats p {
  font-size: 10px;
  margin-top: 0px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}

/* Card right */

.card-right img {
  height: 350px;
  width: 100%;
}
.card-right::before {
  overflow: hidden;
  content: "";
  position: absolute;
  width: 511px;
  height: 350px;
  border-radius: 0px 7px 7px 0px;
  background-color: rgba(104, 0, 168, 0.4);
  z-index: 2;
}
.attribution{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container {
  }
  .union-card {
    display: flex;
    width: 400px;
    height: 780px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .card-right img {
    margin-top: -150px;
    width: 400px;
    min-height: 240px;
    max-height: 280px;
    border-radius: 10px 10px 0px 0px;
  }
  .card-right::before {
    width: 400px;
    height: 280px;
    margin-top: -149px;
    border-radius: 10px 10px 0px 0px;
  }
  .card-left {
    text-align: center;
    margin-top: 50px;
    border-radius: 0 0 10px 10px;
  }
  .card-left h1 {
    width: 300px;
    margin: 0;
  }
  .card-left p {
    width: 300px;
    margin-left: 17px;
    margin-top: 20px;
    line-height: 25px;
    width: 270px;
  }
  .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
}
